---
layout: page
---

{{ content }}

<ul id="archive">
{% for softw in site.software %}
<li class="archiveposturl" style="background: transparent">
<div class="sofware-container">
    {% if softw.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ softw.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ softw.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ soft.title }}</span><br>

        <strong>tl;dr:</strong> {{ soft.tldr }}
        <br/>
        <strong>
        {% include softw_links.html softw=softw %}
        </strong>

        {% if softw.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ softw.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>